footer{
    font-family: 'Dosis-Bold';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    color: white;
    background-color: rgb(70, 70, 70);
    position: absolute;
    align-items: center;
    bottom: 0pt;
    left:0px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 60px;
    width: calc(100% - 0px) !important;
}
.footerText{
    color:white;
    margin: auto;
    order:0;
    align-self: center;
    padding: 16px;
    width:50%;
    min-width: 200px;
    left:0px;
    right:0px;
}
div {
  display:block;
 }
@font-face {
  font-family: 'Dosis-Bold';
  src: local('Dosis-Bold'), url(../fonts/Dosis/Dosis-Bold.ttf) format('truetype');
}
.page{
  width: 100% !important;
  height:100% !important;
  box-sizing: border-box !important;
  margin: 0px !important;
  padding: 0px !important;
}
.container {
    margin-left:-8px !important;
    margin-top: 60px !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Dosis-Bold;
    position: relative;
    text-align: center;
    background-color: rgb(0, 255, 136);
}

.containerTitle{
    color:rgb(66, 66, 66);
    margin: auto;
    order:0;
    align-self: center;
    padding: 16px;
    width:50%;
    min-width: 200px;
    left:0px;
    right:0px;
}

.containerText{
    color:rgb(66, 66, 66);
    margin: auto;
    order:0;
    align-self: center;
    padding: 16px;
    width:50%;
    max-width: 600px;
    font-size: 26px;
}

.header {
    background-color: rgb(70, 70, 70);
    position: relative;
    height: 160px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .navbar {
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    margin: 0px;
    height: 60px;
    width: calc(100% - 0px) !important;
    top:0px;
    left:0px;
  }
.navTitle {
  padding: 16px;
    font-family: Dosis-Bold;    
    width:20%;
    max-width: 200px;
    font-size: 24px;
    color: white;
    display:inline-flex;
    align-self: center;
    margin-right:16px;
  }
  .navItems {
    width:80%;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    vertical-align: middle;
  }
  .navItems li {
    list-style: none;
  }
.navButton {
    font-family: Dosis-Bold;    
    font-size: 20px;
    color: white;
    display:inline-flexbox;
    align-self: center;
    vertical-align: middle;
    width:auto;
    margin-left: 4px;
  }
  .navButton::after {
    content:' | ';
    color: rgba(23,23,23,0.7);
  }
  .placeholder{
    color:rgb(251, 255, 0) !important;
  }